@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #B7B3A1;
}

/* SECCION INICIO */

.inicio{
    background: #adc178;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 46% 100%, 1% 97%);
    height: 90vh;
    padding: 0 20px;
}

.inicio .contenido{ 
    max-width: 1100px;
    margin: auto;
    color: #fff;
}

.inicio header{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.inicio header nav{
    width: 100%;
    text-align: center;
}

.inicio nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    align-items: center;
}

#inicio header nav h1{
    max-width: 60%; /* O cualquier otro valor que funcione para tu diseño */
    
    /* text-transform: uppercase;
    font-size: 25px;
    line-height: 60px; */
}

.nav-menu{
    display: flex;
    margin-left: 40px;
    list-style: none;
}

.nav-menu-link{ 
    font-size: 15px;
    margin: 0 10px;
    line-height: 60px;
    width: max-content;
}

#inicio header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
.nav-menu-item:hover {
    border-bottom: 2px solid #c9184a;
}

.redes .fa-brands.fa-linkedin,
.fa-brands.fa-instagram{
        text-decoration: none;
        display: inline-bloc;
        margin: 0 15px;
        font-size: 25px;
        transition: .5s;
}

.redes .fa-brands.fa-linkedin:hover,
       .fa-brands.fa-instagram:hover{
        transform: scale(1.1);
        padding: 5px 10px;
        background-color: #c9184a;
        border-radius: 20px;
}

/* TOGGLE */
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}

.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}

.inicio .fila .col{
    width: 50%;
}

.inicio .fila .col h2{
    margin-bottom: 15px;
    font-size: 40px;
}

.inicio .fila .col p{
    margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img{
    max-width: 400px;
    margin: auto;
}

.inicio .fila .col .contenedor-img img{
    width: 100%;
}

.inicio .fila .col button{
    background:#c9184a;
    width:  fit-content;
    padding:  5px 40px;
    border: 2px solid #a4133c;
    border-radius: 20px;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.inicio .fila .col button:hover{
    transform: scale(1.1);
}

#icono-nav{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}

#icono-nav:hover{
    background-color: #3ed;
}

.sombra{
    filter:drop-shadow(0em 30px 20px rgb(240, 234, 210));
}


/*----------------------------SECCIÓN HABILIDADES------------------------*/

.habilidades{
    max-width: auto;
    margin: 100px;
    position: relative;
    top: 10px;
}

.habilidades .fila{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.habilidades .col{
    width: calc(25% - 10px);
        text-align: center;
}
.habilidades h2{
    color: #a4133c;
    text-align: center;
} 

.habilidades .fila .col{
    text-align: center;
    width: 30%;
}
.habilidades .fila .col .card{
    height: 180px;
    background: linear-gradient(to right, #ff8fab, #fb6f92);    
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

.habilidades .fila .col .card h3 {
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que no quepa */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}

.habilidades .icono{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.habilidades .icono .circulo{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.habilidades h3{
    margin-bottom: 20px;
}

.habilidades .card p{
    color: #8d8d8d;
    line-height: 28px;
    font-size: 12px;
}

.habilidades .card a{
    text-decoration: none;
    color: #a4133c;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------------------------SECCIÓN TRABAJOS---------------------------------------*/

.trabajos{
    max-width: 1100px;
    margin: auto;
    padding: 0 10px;
}

.trabajos h2{
    color: #a4133c;
    text-align: center;
}

.trabajos nav{
    text-align: center;
    margin: 10px 0;
}

.trabajos nav a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    color: #a4133c;
    font-weight: bold;
    padding: 3px 0px;
    border: 3px solid transparent;
}


/* Esta clase se agregara dinamicamente cuando haya seleccionada una opcion */
.borde{
    border: 3px solid #adc178;
}

.trabajos .galeria .item img{
    width: 100%;
    height: 100%;
    display: block;
}

.trabajos .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 30px;
}

.trabajos .galeria .item{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.trabajos .galeria .item .info{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 24px;
    background-color: #adc178;
    width: 100%;
    padding: 150px;
    opacity: 0;
    transition: .3s;

}
.trabajos .galeria .item .info h3{
    color: #ffffff88;
    margin-bottom: 20px;
}

.trabajos .galeria .item .info span{
    color: #ffffff88;
    border: 2px solid #ffffff88;
    border-radius: 5px;
    cursor:context-menu;
    display: inline-block;
    margin: 0 3px;
    padding: 0 5px;
}


.trabajos .galeria .item .info a{
    color: #ff5b00;
    border: 2px solid #ca570f;
    border-radius: 5px;
    display: block;
    margin: 20px;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}

.trabajos .galeria .item .info a:hover{
    transform: scale(1.1);
}

.trabajos .galeria .item:hover .info{
    opacity: 1;
    top: 0;
}

/*---------------------------Sección Contacto------------------------------------*/

.contacto{
    background: linear-gradient(to right, #a4133c, #c9184a);
    width: 85%;
    margin: auto;
    margin-top: 115px;
    padding: 10px 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.contacto .contenedor-contacto{
    align-items: center;
    margin: auto;
}

.contacto h2{
    color: #ff8fa3;
    text-align: center;
    padding-bottom: 10px;
}

.contacto h3{
    color: #ff8fa3;
    padding-left: 10px;
}
.contacto .contenedor-contacto .fila{
    display: flex;
}

.contacto .contenedor-contacto .fila .col{
    width: 50%;
}

.contacto input::placeholder,
.contacto textarea::placeholder {
    color: #ffffff;
}

.contacto .contenedor-contacto .info{
    margin-bottom: 30px;
    border-left: 3px solid #ff8fa3;
}

.contacto .contenedor-contacto .info p{
    color: #ffb3c1;
    padding-left: 10px;
}

.contacto input, .contacto textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 2px solid #ff8fa3;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
}

.contacto label{
    color: #ff8fa3;
}

.contacto .btn{
    background-color: none;
    padding: 5px 4px;
    border: 2px solid;
    color: #ff85a1;
    cursor: pointer;
    background: linear-gradient(to right, #ff0a54, #ff477e);
}

.contacto .btn:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/*-----------------------------------SECCIÓN RESPONSIVE-------------------------------------*/

@media (max-width: 970) {
    #inicio header nav h1 {
        font-size: 10px;
    }
}


@media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #EA9E8D;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #83c5f7;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }

@media screen and (min-width: 740px) {
    .habilidades .fila .col .card {
    width: calc(100% - 40px); /* Ancho del fondo de las habilidades menos márgenes */
    }
}

  @media (max-width: 600px) {
    .contacto{
        padding: 20px;
    }

    .contacto .contenedor-contacto .fila {
        flex-direction: column; /* Coloca las columnas una encima de la otra */
    }

    .contacto .contenedor-contacto .fila .col {
        width: 100%; /* Ancho completo para cada columna */
    }

    .contacto .contenedor-contacto .info {
        margin-bottom: 15px; /* Reduce el espacio entre las secciones de información */
        border-left: none; /* Elimina el borde izquierdo */
        border-bottom: 3px solid #ff8fa3; /* Agrega un borde inferior */
        padding-bottom: 15px; /* Agrega espacio alrededor de la información */
    }

    .contacto input,
    .contacto textarea {
        margin-bottom: 15px; /* Agrega espacio entre los campos de entrada */
    }
  }